body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  font-size: 14px;
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
address {
  font-style: normal;
}
.section {
  padding-bottom: 94px;
  padding-top: 94px;
}
.container {
  margin: 0 auto;
  width: 1200px;
  padding: 0 15px;
}
button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
}
header {
  padding-bottom: 25px;
  padding-top: 25px;
  border-bottom: 1px var(--header-border) solid;
}
:root {
  --logo-first-part: #2196f3;
  --logo-second-part: #000000;
  --nav-list-color: #757575;
  --button-color: #f5f4fa;
  --footer-logo-second-part: #ffffff;
  --footer-background-color: #2f303a;
  --header-background: #ffffff;
  --light-background: #f5f4fa;
  --footer-contacts: #ffffff99;
  --header-border: #ececec;
  --social-media-icons: #afb1b8;
}
.logo {
  text-decoration: none;
  line-height: 1.19;
  margin-right: 93px;
}
.first-logo {
  font-family: "Raleway", sans-serif;
  color: var(--logo-first-part);
  font-weight: 700;
  font-size: 26px;
}
.second-logo {
  font-family: "Raleway", sans-serif;
  color: var(--logo-second-part);
  font-weight: 700;
  font-size: 26px;
}
.navigation {
  color: inherit;
  font-weight: 500;
  text-decoration: none;
  line-height: 1.14;
}
.navigation:hover,
.navigation:focus {
  color: var(--logo-first-part);
}
.wrapper {
  display: flex;
  align-items: center;
}
.contacts {
  text-decoration: none;
  color: var(--nav-list-color);
  font-weight: 500;
  line-height: 1.14;
  display: flex;
  align-items: center;
}
.contacts:hover,
.contacts:focus {
  color: var(--logo-first-part);
}
.button {
  font-family: inherit;
  font-size: 16px;
  background-color: var(--button-color);
  font-weight: 500;
  line-height: 1.625;
  padding: 6px 22px;
}
.button:hover,
.button:focus {
  background-color: var(--logo-first-part);
  color: var(--footer-logo-second-part);
  box-shadow: 0px 2px 2px 0px rgba(79, 73, 73, 0.89);
}
.photo-header {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  padding-top: 20px;
  padding-left: 24px;
  border-left: thin var(--header-border) solid;
  border-right: thin var(--header-border) solid;
}
.solution {
  color: var(--nav-list-color);
  line-height: 1.875;
  padding-top: 4px;
  padding-bottom: 20px;
  padding-left: 24px;
  border: thin var(--header-border) solid;
  border-top: none;
}
.logo-footer {
  text-decoration: none;
  line-height: 1.19;
  display: flex;
  margin-bottom: 20px;
}
.first-logo-footer {
  font-family: "Raleway", sans-serif;
  color: var(--logo-first-part);
  font-weight: 700;
  font-size: 26px;
}
.second-logo-footer {
  font-family: "Raleway", sans-serif;
  color: var(--footer-logo-second-part);
  font-weight: 700;
  font-size: 26px;
}
.address {
  font-style: inherit;
  color: var(--footer-logo-second-part);
  line-height: 1.7;
}
.city {
  margin-bottom: 9px;
}
.footer-contacts {
  color: var(--footer-contacts);
  font-weight: 400;
}
.footer-list-contacts:not(:last-child) {
  margin-bottom: 9px;
}
.main-header {
  color: var(--footer-logo-second-part);
  font-size: 44px;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.main-button {
  font-family: inherit;
  font-size: 16px;
  color: var(--footer-logo-second-part);
  background-color: var(--logo-first-part);
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  display: flex;
  align-self: center;
  margin: 0 auto;
}
.what-we-do-section {
  padding-bottom: 94px;
}
.third-header {
  font-weight: 700;
  line-height: 1.14;
  margin-bottom: 10px;
  font-size: 14px;
}
.third-header-text {
  color: var(--nav-list-color);
  line-height: 1.7;
}
.second-header {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}
.names {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  margin-bottom: 10px;
  text-align: center;
}
.job {
  font-size: 16px;
  color: var(--nav-list-color);
  line-height: 1.19;
  margin-bottom: 16px;
  text-align: center;
}
.main-background-header {
  background-image: linear-gradient(rgb(47, 48, 58, 0.4), rgb(47, 48, 58, 0.4)),
    url("../images/first-header-image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 200px 0;
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
}
[data-clip="content-box"] {
  background-clip: content-box;
}
.dark-background {
  background-color: var(--footer-background-color);
  padding: 60px 0px;
}
.header-background {
  background-color: var(--header-background);
}
.light-background {
  background-color: var(--light-background);
}
.text {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px;
}
.photos-at-work {
  display: flex;
  gap: 30px;
}
.workers-photos {
  display: flex;
  gap: 30px;
}
.our-projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.figure {
  margin: 0;
}
.workers-photos-list-item {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 2px rgba(175, 177, 184, 0.89);
  background-color: var(--header-background);
}
.workers {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.header-navigation {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  gap: 50px;
  align-items: center;
}
.contacts-list {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-left: auto;
}
.buttons-bar {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 56px;
}
.contacts svg {
  margin-right: 10px;
  fill: currentColor;
}
.lorem-icons-background {
  background-color: var(--light-background);
  margin-bottom: 30px;
  border-radius: 4px;
}
.workers-social-media-icons {
  height: 44px;
  width: 44px;
  fill: var(--social-media-icons);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.workers-social-media-icons:hover,
.workers-social-media-icons:focus {
  fill: var(--footer-logo-second-part);
  background-color: var(--logo-first-part);
}
.social-media-workers {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.client-item-list {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid currentColor;
  border-radius: 4px;
  height: 92px;
  width: 170px;
}
.client-item-list:hover,
.client-item-list:focus {
  color: var(--logo-first-part);
}
.our-clients {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.clients-icons {
  fill: currentColor;
}
.footer {
  display: flex;
  align-items: baseline;
}
.footer-list {
  display: flex;
  margin-top: 20px;
  gap: 10px;
}
.footer-wrapper {
  margin-left: 70px;
}
.footer-socials-list {
  color: var(--footer-logo-second-part);
  font-weight: 700;
}
.footer-social-icons {
  fill: var(--footer-logo-second-part);
  border-radius: 50%;
  background-color: #44454e;
}
.footer-social-icons:hover,
.footer-social-icons:focus {
  fill: var(--footer-logo-second-part);
  background-color: var(--logo-first-part);
  cursor: pointer;
}
.our-projects-list-item:hover,
.our-projects-list-item:focus {
  box-shadow: 1px 4px 6px 0px rgba(175, 177, 184, 0.89);
}
