.footer__social-media {
  color: var(--footer-logo-second-part);
  font-weight: 700;
}
.footer__list-socials {
  display: flex;
  margin-top: 20px;
  gap: 10px;
}
.footer__list-social-icons {
  fill: var(--footer-logo-second-part);
  border-radius: 50%;
  background-color: var(--footer-list-social-icons);
  transition: fill 250ms, background-color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: var(--footer-logo-second-part);
    background-color: var(--logo-first-part);
    cursor: pointer;
  }
}
