.header__menu {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
}
.logo {
  text-decoration: none;
  line-height: 1.19;
  margin-right: 93px;

  &__first-part {
    font-family: "Raleway", sans-serif;
    color: var(--logo-first-part);
    font-weight: 700;
    font-size: 26px;
  }
  &__second-part {
    font-family: "Raleway", sans-serif;
    color: var(--logo-second-part);
    font-weight: 700;
    font-size: 26px;
  }
}
.navigation__list {
  display: flex;
  gap: 50px;
  align-items: center;

  &-item {
    color: inherit;
    font-weight: 500;
    text-decoration: none;
    line-height: 1.14;
    transition: color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &-item:hover,
  &-item:focus {
    color: var(--logo-first-part);
  }
}
.agency,
.portfolio {
  position: relative;

  &::after,
  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    bottom: -32px;
    left: 0;
    background-color: var(--underline);
  }
}
.contacts__list {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-left: auto;

  &-item {
    text-decoration: none;
    color: var(--nav-list-color);
    font-weight: 500;
    line-height: 1.14;
    display: flex;
    align-items: center;
    transition: color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &-item:hover,
  &-item:focus {
    color: var(--logo-first-part);
  }
  &-item svg {
    margin-right: 10px;
    fill: currentColor;
  }
}
