.main__header-background {
  background-image: linear-gradient(
      var(--linear-gradient),
      var(--linear-gradient)
    ),
    url("../images/first-header-image-mobile.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 118px 0;
  max-width: 1600px;
  margin: 0 auto;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        var(--linear-gradient),
        var(--linear-gradient)
      ),
      url("../images/first-header-image-mobile@2x.jpg");
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        var(--linear-gradient),
        var(--linear-gradient)
      ),
      url("../images/first-header-image-tablet.jpg");
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          var(--linear-gradient),
          var(--linear-gradient)
        ),
        url("../images/first-header-image-tablet@2x.jpg");
    }
  }

  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(
        var(--linear-gradient),
        var(--linear-gradient)
      ),
      url("../images/first-header-image-desktop.jpg");
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          var(--linear-gradient),
          var(--linear-gradient)
        ),
        url("../images/first-header-image-desktop@2x.jpg");
    }
  }
}
// [data-clip="content-box"] {
//   background-clip: content-box;
// }
.main__header {
  color: var(--footer-logo-second-part);
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  margin: 0 auto 30px;

  @media screen and (min-width: 480px) {
    font-size: 26px;
    max-width: 365px;
  }
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
    font-size: 44px;
    max-width: 696px;
  }
}
.main__button {
  font-family: inherit;
  font-size: 16px;
  color: var(--footer-logo-second-part);
  background-color: var(--logo-first-part);
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  padding: 10px 42px;
  display: block;
  align-self: center;
  margin: 0 auto;
}
