.modal {
  position: absolute;

  left: 50%;
  top: 50%;
  background-color: var(--modal-background);
  border-radius: 4px;
  box-shadow: var(--modal-boxshadow);
  transform: translate(-50%, -50%);
  @media screen and (max-width: 1199px) {
    width: 95%;
    max-width: 450px;
    height: 95%;
    max-height: 609px;
    overflow: scroll;
  }
  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 581px;
  }

  & > button {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 8px;
    right: 8px;
    border: 1px solid var(--modal-button-border);
    border-radius: 50%;
    background-color: var(--footer-logo-second-part);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__form &__form-label {
    position: absolute;
    top: -18px;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: var(--nav-list-color);
    margin-left: -10px;
  }
  &__form-header {
    font-size: 20px;
    font-weight: 700;
    margin-top: 40px;
    text-align: center;
  }
  &__form-fieldset {
    display: flex;
    position: relative;
    height: 40px;
    margin: 30px 40px;
    padding-block: 5px;
    border: 1px solid var(--fieldset-border);
    border-radius: 4px;
    align-items: center;
  }
  &__form-fieldset:has(.modal__form-input:focus) {
    border-color: var(--logo-first-part);
    transition: border-color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__form-fieldset:has(.modal__form-input:focus) .input-icon {
    fill: var(--logo-first-part);
    transition: fill 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__form-icon {
    height: 18px;
    width: 18px;
    margin-right: 12px;
    fill: var(--text-main-color);
  }
  &__form-input {
    border: 0;
    background-color: transparent;
    font-size: 12px;
  }
  &__form-input:hover,
  &__form-input:focus {
    outline: none;
  }
  &__form-comment {
    height: 120px;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  &__form-comment-input::placeholder {
    color: var(--placeholder-comment);
  }
  &__form-button {
    font-family: inherit;
    font-size: 16px;
    color: var(--footer-logo-second-part);
    background-color: var(--logo-first-part);
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    padding: 10px 76px;
    margin: 0 auto;
  }
}
.close__btn-icon {
  height: 18px;
  width: 18px;
}
.option {
  position: relative;
  display: block;
  margin-left: 55px;
}
.check {
  padding-left: 1.2em;

  &__input {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }
  &__input:checked + .checkbox {
    background-color: var(--logo-first-part);
    background-image: url("./imges/icons.svg#icon-icon-check");
    box-shadow: 0 0 0 0.1em var(--check-input-checked);
  }
  &__input:focus + .checkbox {
    box-shadow: 0 0 0 0.1em var(--check-input-checked);
  }
  &__input:disabled + .checkbox {
    box-shadow: 0 0 0 0.1em var(--check-input-disabled);
  }
  &__input:checked:disabled + .checkbox {
    background-color: var(--check-input-disabled);
  }
}
.checkbox {
  position: absolute;
  margin-top: 0.1em;
  margin-left: -1.2em;
  width: 16px;
  height: 15px;
  overflow: hidden;
  border-radius: 0.05em;
  background-color: var(--footer-logo-second-part);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  box-shadow: 0 0 0 0.1em var(--text-main-color);

  &__text {
    margin-left: 8px;
    color: var(--nav-list-color);
    margin-bottom: 30px;
  }
  &__link {
    text-decoration: underline;
    color: var(--logo-first-part);
  }
}
