.newsletter {
  margin-left: auto;
  margin-right: auto;
  align-items: center;

  @media screen and (min-width: 1200px) {
    margin-left: auto;
  }
  &__form {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.17;
    color: var(--footer-logo-second-part);
    padding-top: 20px;
    gap: 12px;
    @media screen and (min-width: 1200px) {
      display: flex;
      justify-content: flex-start;
    }
  }
  &__form-signup {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    @media screen and (min-width: 1200px) {
      flex-direction: row;
      align-items: center;
      gap: 12px;
    }
  }
  &__form-input {
    background-color: var(--footer-background-color);
    border: 1px solid var(--signup-border);
    width: 300px;
    height: 50px;
    padding-left: 16px;
    margin-bottom: 20px;
    color: var(--button-color);
    border-radius: 4px;
    @media screen and (min-width: 480px) {
      width: 450px;
    }
    @media screen and (min-width: 768px) {
      width: 450px;
      display: flex;
    }
    @media screen and (min-width: 1200px) {
      width: 358px;
      display: flex;
    }
  }
  &__form-button {
    display: flex;
    align-items: center;
    gap: 24px;
    font-family: inherit;
    font-size: 16px;
    color: var(--footer-logo-second-part);
    background-color: var(--logo-first-part);
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    padding: 10px 28px 10px 42px;
    margin-bottom: 20px;
  }
}
.signup__icon {
  fill: var(--footer-logo-second-part);
  padding: left 24px;
}
