.team-members__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}
.team-members__card {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 2px var(--team-members-card);
  background-color: var(--header-background);
}

.team-members {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;

  &__name {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;
    margin-bottom: 10px;
    text-align: center;
  }
  &__job {
    font-size: 16px;
    color: var(--nav-list-color);
    line-height: 1.19;
    margin-bottom: 16px;
    text-align: center;
  }
}
