.background__dark {
  background-color: var(--footer-background-color);
  padding: 60px 0px;
}
.background__light {
  background-color: var(--light-background);
  @media screen and (max-width: 1199px) {
    padding: 60px 0;
  }
}
