.second__header {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}
.third__header {
  font-weight: 700;
  line-height: 1.14;
  margin-bottom: 10px;
  font-size: 14px;
}
