body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  font-size: 14px;
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
address {
  font-style: normal;
}
.section {
  padding-bottom: 94px;
  padding-top: 94px;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
}
header {
  padding-bottom: 25px;
  padding-top: 25px;
  border-bottom: 1px var(--header-border) solid;
}
