:root {
  --text-main-color: #212121;
  --logo-first-part: #2196f3;
  --logo-second-part: #000000;
  --nav-list-color: #757575;
  --button-color: #f5f4fa;
  --footer-logo-second-part: #ffffff;
  --footer-background-color: #2f303a;
  --header-background: #ffffff;
  --light-background: #f5f4fa;
  --footer-contacts: #ffffff99;
  --header-border: #ececec;
  --social-media-icons: #afb1b8;
  --underline: #2196f3;
  --overlay: #2196f3e5;
  --modal-background: rgba(255, 255, 255, 1);
  --check-input-disabled: #9b9b9b;
  --check-input-checked: #4a90e2;
  --placeholder-comment: #75757580;
  --fieldset-border: #21212133;
  --signup-border: #ffffff4d;
  --modal-button-border: rgba(0, 0, 0, 0.1);
  --backdrop-background: rgba(0, 0, 0, 0.2);
  --modal-boxshadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --projects-list-item-boxshadow: rgba(175, 177, 184, 0.89);
  --footer-list-social-icons: #44454e;
  --team-members-card: rgba(175, 177, 184, 0.89);
  --linear-gradient: rgb(47, 48, 58, 0.4);
  --what-we-do-linear-gradient: #2f303acc;
  --button-box-shadow: rgba(79, 73, 73, 0.89);
}
